*{
    margin:0; padding:0;
    box-sizing: border-box;
    text-transform: capitalize; 
    font-weight: normal;
}
body{
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: flex-start; 
    justify-content: space-between;
  
     background:linear-gradient(coral, blueviolet); 
    padding:5.5rem;  
}
.container{
    height:35rem;
    width:80rem;
    background:rgba(255,255,255,.2);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
    backdrop-filter: blur(.4rem);
    border-radius: 1rem;
    overflow: hidden;
    margin-top: 31px;
    margin-left: 150px;
    margin-right: 132px;
}
#convert {
    background-color: rgb(221, 111, 116);
  }
  #convert:hover {
    background-color:rgb(140, 139, 233);
  }
#clear {
    background-color: rgb(233, 113, 193);
  }
  #clear:hover {
    background-color:rgb(180, 85, 176);
  }
  h1 {
    font-family: sans-serif;
    color: black;
    text-align: center;
  }
  input {
    display: block;
    margin-top: 100px;
    margin-left: 337px;
    font-size: 2em;
    color: #f4a55a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 0 .5rem rgba(255,255,255,.2),
                0 1rem 2rem rgba(0,0,0,.4);
  }
  ::-webkit-input-placeholder {
     color: #ccc;
  }
  :-moz-placeholder { /* Firefox 18- */
     color: #ccc;  
  }
  ::-moz-placeholder {  /* Firefox 19+ */
     color: #ccc;  
  }
  :-ms-input-placeholder {  
     color: #ccc;  
  }
   #convert{
    margin-left: 487px;
    margin-top: 105px;
    display: block;
    height:4rem;
    width:4rem;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 0 .5rem rgba(255,255,255,.2),
                0 1rem 2rem rgba(0,0,0,.4);
  }
 #clear {
  margin-left: 575px;
    margin-top: -65px;
  display: block;
    height:4rem;
    width:4rem;
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 0 .5rem rgba(255,255,255,.2),
                0 1rem 2rem rgba(0,0,0,.4);
  }
.theme-toggler{
    background:rgba(255,255,255,.2);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    border-radius: 1rem;
    backdrop-filter: blur(.4rem);
}
.theme-toggler span{
    display: block;
    height:3rem;
    width:3rem;
    border-radius: 50%;
    cursor: pointer;
    margin:2rem 2.5rem;
    box-shadow: 0 0 0 .5rem rgba(255,255,255,.2),
                0 1rem 2rem rgba(0,0,0,.4);
}